@import url("bootstrap.css");
@import url("bootstrap-timepicker.min.css");
@import url("datepicker.css");
@import url("commonstyles.css");
@import url("alertify.core.css");
@import url("alertify.bootstrap.css");



@media (max-width:400px) {
    .hero-unit {
        padding: 15px;
        font-size: 1.0em;
    }
    .hero-unit h1 {
        font-size:2.5em;
    }
    .hero-unit h3 {
        font-size:1.5em;
    }
}

.status .status-info {
    font-size: .9em;
    color: #ccc;
    margin-left: 5px;
}

.status {
    margin: 10px 10px 30px 10px;
}

.status-major {
    margin: 20px 10px 40px 10px;

}

.status .message {
    font-size: 1.2em;
}

.status-major .message {

    font-size: 1.8em;
    font-style: italic;
}

.comment .comment-info {
    font-size: .8em;
    color: #ccc;
    margin-left: 5px;
}

.comment {
    margin: 10px 10px 30px 10px;
}

.comment .message {
    font-size: 1.1em;
}

.comment .commenter {

}

@media (min-width:800px) {
    .Boy {
        background: url(https://lh3.googleusercontent.com/-PUCf5BA3VrY/UXmWO2Yu_bI/AAAAAAAABpI/D6AMMdza81E/w497-h373/stock-vector-baby1.jpg) right no-repeat #AEDFE4;
    }
}

.Boy {
    background-color:  #AEDFE4;
}


/*
.status-box-Boy {
    background-color: #AEDFE4;
}

.comment-box-Boy {
    background-color: #B7AFA3;
}

.visit-box-Boy {
    background-color: #E8D0A9;
}
*/

/*photo masonry*/
.photo-gallery {
    /* Prevent vertical gaps */
    line-height: 0;

    -webkit-column-count: 5;
    -webkit-column-gap:   10px;
    -moz-column-count:    5;
    -moz-column-gap:      10px;
    column-count:         5;
    column-gap:           10px;

}
.photo-gallery a {
    display: block;
    /* Just in case there are inline attributes */
    width: 100% !important;
    height: auto !important;
    margin-bottom: 10px;
}

@media (max-width: 1200px) {
    .photo-gallery {
        -moz-column-count:    4;
        -webkit-column-count: 4;
        column-count:         4;
    }
}
@media (max-width: 1000px) {
    .photo-gallery {
        -moz-column-count:    3;
        -webkit-column-count: 3;
        column-count:         3;
    }
}
@media (max-width: 800px) {
    .photo-gallery {
        -moz-column-count:    2;
        -webkit-column-count: 2;
        column-count:         2;
    }
}
@media (max-width: 400px) {
    .photo-gallery {
        -moz-column-count:    1;
        -webkit-column-count: 1;
        column-count:         1;
    }
}