@import url("bootstrap.css");
@import url("bootstrap-timepicker.min.css");
@import url("datepicker.css");
@import url("commonstyles.css");
@import url("alertify.core.css");
@import url("alertify.bootstrap.css");
@import url("font-awesome.css");

/* Make alertify a bit more obtrusive, move to bottom left*/
.alertify-logs {
    left: 15px;
    bottom: 20px;
}

.alertify-log {
    padding: 14px;
    font-size: 1.2em;
}

@media (max-width:400px) {
    .hero-unit {
        padding: 15px;
        font-size: 1.0em;
    }
    .hero-unit h1 {
        font-size:2.5em;
    }
    .hero-unit h3 {
        font-size:1.5em;
    }
}

@media (min-width:800px) {
    .Boy {
        background: url(https://lh3.googleusercontent.com/-PUCf5BA3VrY/UXmWO2Yu_bI/AAAAAAAABpI/D6AMMdza81E/w497-h373/stock-vector-baby1.jpg) right no-repeat #AEDFE4;
    }
}

.Boy {
    background-color:  #AEDFE4;
}

/*photo masonry*/
.photo-gallery {
    /* Prevent vertical gaps */
    line-height: 0;

    -webkit-column-count: 5;
    -webkit-column-gap:   10px;
    -moz-column-count:    5;
    -moz-column-gap:      10px;
    column-count:         5;
    column-gap:           10px;

}
.photo-gallery a {
    display: block;
    /* Just in case there are inline attributes */
    width: 100% !important;
    height: auto !important;
    margin-bottom: 10px;
}

@media (max-width: 1200px) {
    .photo-gallery {
        -moz-column-count:    4;
        -webkit-column-count: 4;
        column-count:         4;
    }
}
@media (max-width: 1000px) {
    .photo-gallery {
        -moz-column-count:    3;
        -webkit-column-count: 3;
        column-count:         3;
    }
}
@media (max-width: 800px) {
    .photo-gallery {
        -moz-column-count:    2;
        -webkit-column-count: 2;
        column-count:         2;
    }
}
@media (max-width: 400px) {
    .photo-gallery {
        -moz-column-count:    1;
        -webkit-column-count: 1;
        column-count:         1;
    }
}

/*welcome.html*/
.masthead {
    background: url(https://lh6.googleusercontent.com/--S7OiP4gwIA/UXmmxa8qZCI/AAAAAAAABpw/j8cnerZP_ls/w111-h326/repeat-background.png) left bottom repeat-x;
    margin-bottom: 50px;
}
.masthead .hero-unit {
    background-color: transparent;
    height: 100%;
    margin-bottom: 0;
}

@media (min-width:950px) {
    .masthead .hero-unit {
        background: url(https://lh3.googleusercontent.com/-3hi0tTTJE6M/UXmmxaquvdI/AAAAAAAABp0/xj5hng1Jmck/w450-h325/stork-2.jpg) right bottom no-repeat;
    }
}

.navbar-inverse, .navbar-inverse .navbar-inner, .navbar-inverse .navbar-inner .container {
    background-color: #398C94;
}

.status blockquote p{
    font-size: 1.4em;
    font-style: italic;
}

.comment {

}

