<div class="hero-unit {{gender}}">
    <h1><small class="muted">introducing </small> <span class="">{{babyFirst}} {{babyMiddle}} {{babyLast}}</span></h1>

    <p class="muted">
        born <strong class="text-info">{{birthDate}}</strong> at <strong class="text-info">{{weight}}</strong> and <strong class="text-info">{{height}}</strong>
        <br/>
        to
        {{#if fatherFirst}}
        proud parents <strong class="text-info">{{fatherFirst}} {{fatherLast}}</strong> and <strong class="text-info">{{motherFirst}} {{motherLast}}</strong>
        {{else}}
        proud mother <strong class="text-info">{{motherFirst}} {{motherLast}}</strong>
        {{/if}}
    </p>
</div>