<div class="form-inline" style="margin: 5px 0 5px 0;">
    <span class="control-group">
        <label>Date</label>
        <div class="input-append date datepicker" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
            <input class="date" name="date" size="16" type="text" value="12-02-2012" readonly>
            <span class="add-on"><i class="icon-th"></i></span>
        </div>
        <span class="help-inline" data-error></span>
    </span>

    <span class="control-group">
        <label>Between</label>
        <div class="input-append bootstrap-timepicker">
            <input type="text" name="from" class="input-small from time"/>
            <span class="add-on"><i class="icon-time"></i></span>
        </div>
        <span class="help-inline" data-error></span>
    </span>


    <span class="control-group">
        <label>And</label>
        <div class="input-append bootstrap-timepicker">
            <input type="text" name="to" class="input-small to time"/>
            <span class="add-on"><i class="icon-time"></i></span>
        </div>
        <span class="help-inline" data-error></span>
    </span>

    <span class="remove btn btn-small btn-warning"><i class="icon-remove"></i></span>
</div>