<form class="form">
    <legend>Tell us about you and your child</legend>

    <div class="control-group">
        <label for="babyCode">Create a Baby Code</label>
        <input type="text" class="input-medium" placeholder="i.e. BabyJohn2013" id="babyCode" name="babyCode" value="{{babyCode}}"/>
        <span class="help-inline">Enter a unique code to give to friends and family to access your baby's page</span>
        <span class="help-inline" data-error></span>
    </div>

    <h2>Baby</h2>
    <label for="babyFirst">Baby Name</label>
    <div class="control-group form-inline">
        <input type="text" class="input-medium" placeholder="Baby First" id="babyFirst" name="babyFirst" value="{{babyFirst}}"/>
        <input type="text" class="input-medium" placeholder="Middle" id="babyMiddle" name="babyMiddle" value="{{babyMiddle}}"/>
        <input type="text" class="input-medium" placeholder="Baby Last" id="babyLast" name="babyLast" value="{{babyLast}}"/>
        <span class="help-inline" data-error></span>
    </div>

    <label for="gender">Gender</label>
    <div class="control-group form-inline">
        <select id="gender" name="gender" class="input-small">
            <option value="Boy">Boy</option>
            <option value="Girl">Girl</option>
        </select>
        <span class="help-inline" data-error></span>
    </div>

    <label for="babyFirst">Birth Date</label>
    <div class="control-group form-inline">
        <div class="input-append date datepicker" data-date="{{date birthDate}}" data-date-format="dd-mm-yyyy">
            <input class="date input-small" name="birthDate" size="10" type="text" value="{{date birthDate}}">
            <span class="add-on"><i class="icon-th"></i></span>
        </div>
        <span class="help-inline" data-error></span>
    </div>

    <h4>Measurements</h4>

    <label for="lengthIn">Length</label>
    <div class="control-group form-inline">
        <div class="input-append">
            <input class="input-small" name="lengthIn" id="lengthIn" size="10" type="text" value="{{lengthIn}}">
            <span class="add-on">Inches</span>
        </div>
        <span class="help-inline" data-error></span>
    </div>

    <label for="weightLb">Weight</label>
    <div class="control-group form-inline">
        <div class="input-append">
            <input class="input-small" name="weightLb" id="weightLb" size="10" type="text" value="{{weightLb}}">
            <span class="add-on">Lbs</span>
        </div>
        <span class="help-inline" data-error></span>
        <div class="input-append">
            <input class="input-small" name="weightOz" id="weightOz" size="10" type="text" value="{{weightOz}}">
            <span class="add-on">Oz</span>
        </div>
        <span class="help-inline" data-error></span>
    </div>




    <h2>Parent(s)</h2>

    <div class="control-group form-inline">
        <div class="gender-select btn-group" data-toggle="buttons-radio">
            <button name="parent1.gender" value="Mother" type="button" class="btn btn-primary active">Mother</button>
            <button name="parent1.gender" value="Father" type="button" class="btn btn-primary">Father</button>
        </div>
        <input type="text" class="input-medium" placeholder="First" id="parent1.first" name="parent1.first" value="{{parent1.first}}"/>
        <input type="text" class="input-medium" placeholder="Middle" id="parent1.middle" name="parent1.middle" value="{{parent1.middle}}"/>
        <input type="text" class="input-medium" placeholder="Last" id="parent1.last" name="parent1.last" value="{{parent1.last}}"/>
        <span class="help-inline" data-error></span>
    </div>

    <div class="control-group form-inline">
        <div class="gender-select btn-group" data-toggle="buttons-radio">
            <button name="parent2.gender" value="Mother" type="button" class="btn btn-primary">Mother</button>
            <button name="parent2.gender" value="Father" type="button" class="btn btn-primary active">Father</button>
        </div>
        <span class="muted">(optional)</span>
        <input type="text" class="input-medium" placeholder="First" id="parent2.first" name="parent2.first" value="{{parent2.first}}"/>
        <input type="text" class="input-medium" placeholder="Middle" id="parent2.middle" name="parent2.middle" value="{{parent2.middle}}"/>
        <input type="text" class="input-medium" placeholder="Last" id="parent2.last" name="parent2.last" value="{{parent2.last}}"/>
        <span class="help-inline" data-error></span>
    </div>

    <div class="form-actions">
        <input type="submit" class="btn btn-large btn-primary" value="Save"/>
    </div>
</form>