<form class="form">
    <legend>Tell us about you and your child</legend>

    <h2>Family Information</h2>
    <label for="babyFirst">Baby</label>
    <div class="control-group form-inline">
        <input type="text" class="input-medium" placeholder="Baby First" id="babyFirst" name="babyFirst" value=""/>
        <input type="text" class="input-medium" placeholder="Middle" id="babyMiddle" name="babyMiddle" value=""/>
        <input type="text" class="input-medium" placeholder="Baby Last" id="babyLast" name="babyLast" value=""/>
        <span class="help-inline" data-error></span>
    </div>

    <label for="motherFirst">Mother</label>
    <div class="control-group form-inline">
        <input type="text" class="input-medium" placeholder="Mother First" id="motherFirst" name="motherFirst" value=""/>
        <input type="text" class="input-medium" placeholder="Mother Last" id="motherLast" name="motherLast" value=""/>
        <span class="help-inline" data-error></span>
    </div>

    <label for="fatherFirst">Father</label>
    <div class="control-group form-inline">
        <input type="text" class="input-medium" placeholder="Father First" id="fatherFirst" name="fatherFirst" value=""/>
        <input type="text" class="input-medium" placeholder="Father Last" id="fatherLast" name="fatherLast" value=""/>
        <span class="help-inline" data-error></span>
    </div>


    <div class="form-actions">
        <input type="submit" class="btn btn-large btn-primary" value="Save"/>
    </div>
</form>


