<form class="form">
    <legend>Log in to your account</legend>

    <div class="control-group">
        <label for="email">Email</label>
        <input type="text" class="input-medium" placeholder="proudParent@yahoo.com" id="email" name="email"/>
        <span class="help-inline" data-error></span>
    </div>

    <div class="control-group">
        <label for="email">Password</label>
        <input type="password" class="input-medium" id="password" name="password"/>
        <span class="help-inline" data-error></span>
    </div>

    <div class="form-actions">
        <input type="submit" class="btn btn-large btn-primary" value="Log In"/>
    </div>
</form>