<div class="masthead">
    <div class="container">
        <div class="hero-unit">
            <h1 class="brand">
                Stork
            </h1>
            <ul class="unstyled">
                <li>
                    Share your new arrival with friends and family
                </li>
                <li>
                    Easily keep everyone informed with simple, easy updates
                </li>
                <li>
                    Coordinate visits and get a helping hand for the busy days ahead
                </li>
            </ul>
            <a href="#create" class="btn btn-primary btn-large">Get Started</a>
        </div>
    </div>
</div>
<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="span4 offset1">
            <div class="text-center">
                <h1>
                    Enter Baby Code
                </h1>
                <p class="muted">
                    Enter the code that was shared with you to find your friend or family
                    member's page!
                </p>
                <form class="form-search input-append ">
                    <input class="input-small" type="text" id="babyCode"/>
                    <input type="submit"  class="btn btn-primary" value="Find"/>
                </form>
            </div>
        </div>
        <div id="logIn" class="span4 offset2"></div>
    </div>
</div>
<!-- /container -->