<div class="hero-unit">
    <h1>Welcome to Baby Calling!</h1>
    <p>Set up times for visitors to meet the baby, or request a time to meet the little guy or girl!</p>
</div>
<div class="span5">
    <div class="text-center">
        <h1>Enter Baby Code</h1>
        <form class="form-search input-append ">
            <input class="input-small" type="text" id="babyCode"/>
            <button type="button" class="btn btn-primary">Go</button>
        </form>
    </div>
    <h4 class="muted">View pictures and request a time to meet the baby</h4>
</div>
<div class="span2">
    <br/>
    <br/>
    <h3 class="muted text-center">or</h3>
</div>
<div class="span5">
    <div class="text-center">
        <h1>Create a Baby Page</h1>
        <a href="#createPage" class="btn btn-large btn-primary">Get Started</a>
    </div>
    <h4 class="muted">Show off pictures of you little bundle of joy, give updates and let friends and family know when's a good time to meet your baby</h4>
</div>
