<form class="form-inline">
    <div class="control-group">
        <div class="controls">
            <div class="input-append">
                <input type="text" id="message" name="message" placeholder="Leave a Message">
                <button type="submit" class="btn btn-primary">
                    Post
                    <i class="icon-share-alt icon-white"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="fromInfo hide">
        <div class="control-group">
            <label for="from">From</label>
            <input type="text" class="input-medium" placeholder="Aunt Suzie" id="from" name="from"/>
            <span class="help-inline" data-error></span>
        </div>

        <div class="control-group">
            <label for="fromEmail">Email</label>
            <input type="text" class="input-medium" placeholder="your@email.com" id="fromEmail" name="fromEmail"/>
            <span class="help-inline" data-error></span>
        </div>

    </div>
</form>