<form class="form">
    <h2>
        Log in
    </h2>
    <div class="control-group">
        <label for="email">Email</label>
        <input type="text" class="input-medium" placeholder="proudParent@yahoo.com" id="email" name="email"/>
        <span class="help-inline" data-error></span>
    </div>

    <div class="control-group">
        <label for="password">Password</label>
        <input type="password" class="input-medium" placeholder="********" id="password" name="password">
        <span class="help-inline" data-error></span>
    </div>

    <input type="submit" class="btn btn-large btn-primary" value="Log In"/>
</form>