<div class="row-fluid">
        {{#if status}}
        <div class="pull-left status">
            <blockquote>
                <p>
                    {{message}}
                </p>
                <small class="pull-left">
                    {{fromNow createdAt}}
                </small>
            </blockquote>
         </div>
        {{/if}}
        {{#if comment}}
        <div class="comment">
            <blockquote>
                <p>
                    {{message}}
                </p>
                <small class="pull-right">
                    <a class="from" href="{{fromEmail}}">{{from}} </a>
                    {{fromNow createdAt}}
                </small>
            </blockquote>
        </div>
        {{/if}}
</div>
