<div class="row-fluid">
    <div class="span3">
        <div class="well sidebar-nav">
            <ul class="nav nav-list">
                <li class="nav-header">
                    Page
                </li>
                <li>
                    <a href="#user/preview">Preview Page</a>
                </li>
                <li>
                    <a href="#user/editInfo">Edit Baby Information</a>
                </li>
                <li>
                    <a href="#user/editInfo">Manage Visit Availability</a>
                </li>
                <li>
                    <a href="#user/editInfo">View Visit Requests</a>
                </li>
                <li>
                    <a href="#user/editInfo">Ways to Lend a Hand</a>
                </li>
                <li>
                    <a href="#user/photos">Photos</a>
                </li>
                <li class="nav-header">
                    Account
                </li>
                <li>
                    <a href="#user/settings">Account Settings</a>
                </li>
                <li>
                    <a href="#user/addUser">Add Another User</a>
                </li>
                <li>
                    <a href="#user/social">Social Media Settings</a>
                </li>
            </ul>
        </div>
        <!--/.well -->
    </div>

    <div id="userContentContainer" class="span9">
        <div class="row-fluid" id="updateStatus"></div>
        <div class="row-fluid" id="newsFeed"></div>
    </div>
</div>